<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>FaceBook Mini</title>
    <link th:href="@{/bootstrap4.css}" rel="stylesheet">
</head>
<body>
<div class="container">
    <h2>Login</h2>
    <p style="color: green; font-weight: bolder" th:if="${success}">Registration Successful, Login.</p>
    <div class="card-body">
        <form  th:action="@{/login}" th:object="${user}" method="POST">

            <div class="form-group">
                <label for="username">Username</label>
                <input type="text" class="form-control" id="username" name="username"
                       th:field="*{username}" placeholder="Enter Username" required>
            </div>

            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" class="form-control" id="password" name="password"
                       th:field="*{password}" placeholder="Enter Password" required>
            </div>

            <button class="btn btn-primary" type="submit">Login</button>
            <a th:href="@{/signup}">Create New Account Here...</a>
        </form>
    </div>
</div>

</body>
</html>